#shortcutDiv {
	display: none;
}

#shortcutIcon {
	display: block;
	margin: 10px auto 20px auto;
	width: 40px;
}

#shortcutIcon:hover, #playingIcon:hover, #muteIcon:hover {
	cursor: pointer;
}



#warning {
    margin: auto 0;
    background-color: black;
}

#noscript {
    margin: 0;
    color: red;
    background-color: black;
    text-align: center;
    padding: 2%;
}

#noscript a {
    color: red;
}

.audioIcons {
	width: 100%;
}

#playingIcon {
	display: none;
}

#topSection {
	width: 280px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 20px auto;
	justify-items: center;
	justify-content: space-evenly;
	align-items: center;
}

.ui-tooltip {
    text-align: center;
	font-size: 1em;
}
.custom-tooltip-styling {
	text-align: left;
}

.help-icon {
	height: 14px;
	width: auto;
}

html, body {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background: #e5cd9c url(images/paper-background.jpg);
}

p {
	font-size: 1.2em;
}

#container {
	display: grid;
	grid-column-gap: 20px;
}

#intro {
	width: 90%;
	max-width: 400px;
	padding: 10px;
	margin: 20px auto;
	border: 3px solid black;
	border-radius: 20px;
	text-align: center;
}

#intro ul {
	text-align: left;
	list-style-position: outside;
	margin-left: 10px;
}

#rules {
	display: none;
}

#main {
	display: none;
	text-align: center;
	width: 95%;
	margin: 0 auto;
}

#inventory {
	margin: 5px auto;
	display: inline-block;
	width: 100%;
}

#inventory td {
	vertical-align: middle;
}

#inventory .token {
	width: 1em;
	vertical-align: text-bottom;
}

#inventory table {
	background: #f0f0f0;
	font-size: .85em;
}

#inventory table, #inventory td {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 3px;
}

#compInventory {
	margin-top: 5px;
}

#userName, #robotName {
	width: 50px;
	text-align: center;
	color: #f5f5f5;
	font-weight: bold;
}

#userName {
	background-color: #0095ff;
}

#robotName {
	background-color: #c90000;
}

#board {
	margin: 0 auto;
}

#setupBoard {
	display: inline-block;
}

button {
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
	background-image: linear-gradient(to right, #134E5E 0%, #2d733d 51%, #134E5E 100%);
	color: #ebebeb;
}

#startGame {
	display: none;
}

#cards {
	display: none;
	padding-top: 10px;
	text-align: center;
	justify-self: center;
	align-self: start;
}

#cardStack img {
	border-radius: 20%;
	width: 95%;
	max-width: 200px;
	margin: 10px auto;
}

#cardFront {
	display: none;
}

#pickNumber {
	display: block;
}

#questionTile {
	display: none;
	margin: 10px auto;
	width: 50%;
	max-width: 153px;
	transition: transform 0.5s ease;
}

#questionCard {
	display: none;
	width: 90%;
	max-width: 300px;
	border: 2px solid black;
	padding: 10px;
	font-size: 1.3em;
	margin: 10px auto;
	background: rgb(203,227,58);
	background: radial-gradient(circle, rgba(203,227,58,1) 14%, rgba(115,217,39,1) 100%);
}

#turnDiv p {
	max-width: 400px;
	margin: 10px auto;
}

#turnChoicesComp {
	display: none;
}

#robotTurnMsg2 {
	display: none;
}

#mainRight {
	width: 95%;
	display: none;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

#main2 {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	display: none;
	grid-column-gap: 10px;
}

#cardStack {
	display: grid;
	grid-column-gap: 10px;
}

@media only screen and (max-width: 639px) {
	#container {
		grid-template-columns: 1fr;
	}
	#cardStack {
		grid-template-columns: 1fr;
	}
	#main2 {
		grid-template-columns: 1fr 2fr;
	}
	#results {
		grid-template-columns: 1fr;
	}
	.buttonHover {
		font-size: 1.2em;
	}
	
}

@media only screen and (min-width: 640px) {
	#container {
		grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
	}
	#cardStack {
		grid-template-columns: 1fr 1fr;
	}
	#main2 {
		grid-template-columns: 1fr;
	}
	#results {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.buttonHover {
		font-size: 1.7em;
	}
	#cards {
		padding-top: 15%;
	}
}

.playToken {
	width: 18%;
	transition: transform 0.5s ease;
}

.buttonHover {
	transition: transform 0.5s ease;
}
.buttonHover:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
		cursor: pointer;
}

.tokenRow {
	margin-bottom: 10px;
}

.tokenRow img {
	margin: 5px;
	max-width: 80px;
}


.tg {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 280px;
}
.tg td, .tg th {
  font-family: Arial, sans-serif;
  font-size: .7em;
  padding: 0px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
  width: 25px;
  height: 26px;
  vertical-align: middle;
  text-align: center;
}

@media only screen and (min-width: 370px) {
	.tg, #topSection {
		width: 340px;
	}
	.tg td, .tg th {
		width: 30px;
		height: 31px;
		font-size: 1em;
	}
	#topSection {
		grid-template-columns: 30px auto;
	}
	#inventory table {
		font-size: 1em;
	}
}
@media only screen and (min-width: 450px) {
	.tg, #topSection {
		width: 420px;
	}
	.tg td, .tg th {
		width: 38px;
		height: 39px;
	}
}
@media only screen and (min-width: 620px) {
	.tg, #topSection {
		width: 310px;
	}
	.tg td, .tg th {
		width: 25px;
		height: 26px;
	}
}
@media only screen and (min-width: 720px) {
	.tg, #topSection {
		width: 330px;
	}
	.tg td, .tg th {
		width: 30px;
		height: 31px;
	}
}
@media only screen and (min-width: 820px) {
	.tg, #topSection {
		width: 380px;
	}
	.tg td, .tg th {
		width: 34px;
		height: 35px;
	}
}
@media only screen and (min-width: 920px) {
	.tg, #topSection {
		width: 430px;
	}
	.tg td, .tg th {
		width: 39px;
		height: 40px;
		font-size: 1.3em;
	}
	#topSection {
		grid-template-columns: 45px auto;
	}	
}
@media only screen and (min-width: 1050px) {
	.tg, #topSection {
		width: 495px;
	}
	.tg td, .tg th {
		width: 45px;
		height: 46px;
	}
	#userName, #robotName {
		width: 75px;
	}
	#inventory td {
		font-size: 1.4em;
	}
	#inventory .token {
		width: 1.4em;
		vertical-align: text-bottom;
	}
}
@media only screen and (min-width: 1200px) {
	.tg, #topSection {
		width: 570px;
	}
	.tg td, .tg th {
		width: 51px;
		height: 52px;
	}
}



.tg .tg-m0sm {
  background-color: #ce8de0;
  border-color: #000000;
}
.tg .tg-kbpn {
  background-color: #fd6864;
  border-color: #000000;
}
.tg .tg-s8c7 {
  background-color: #f99bf4;
  border-color: #000000;
}
.tg .tg-966n {
  background-color: #34ff34;
  border-color: #000000;
}
.tg .tg-ih6r {
  background-color: #ffc702;
  border-color: #000000;
}
.tg .tg-0qvf {
  background-color: #fffe65;
  border-color: #000000;
}
.tg .tg-nk3j {
  font-weight: bold;
  background-color: #009901;
  color: #ffffff;
  border-color: #000000;
}
.tg .tg-trb7 {
  background-color: #8bc6d7;
  border-color: #000000;
}
.tg .tg-g3ez {
  background-color: #9aff99;
  border-color: #000000;
}
.tg .tg-qhoq {
  background-color: #e28686;
  border-color: #000000;
}
.tg .tg-vwxq {
  background-color: #90c4e2;
  border-color: #000000;
}

.current {
  border: 3px dashed #00ff00 !important;
}

.highlight {
  border: 2px solid yellow !important;
}

.cardHighlight {
	border: 4px solid yellow;
	transition: border 0.5s ease;
}

.cardHighlight:hover {
	border: 4px solid #71d400;
	cursor: pointer;
}
.robotTurnHighlight {
	border: 4px solid #06cf17;
}


.special {
	border: 2px dashed #65EFD3 !important;
}

#turnChoices {
  display: none;
}

#playDefenderRule3 {
	display: none;
}

#tokenExists {
	display: none;
}

.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 355px;
  height: 150px;
  border: 1px solid #ccc;
  box-shadow: 1px, 1px, 1px, black;
  padding: 1em;
  left: 7px;
  top: 50px;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  visibility: hidden;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(255, 0, 0, 0.25);
  visibility: hidden;
}

#back {
  background-color: #4caf50;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 150px;
}

#seeChanges, #continue, #main3 {
	display: none;
}

#main3 {
	text-align: center;
	padding: 10px;
}

#results {
	display: none;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-column-gap: 10px;
}

#playAgain {
	display: none;
}

.animalResults {
	display: block;
	margin: 0px auto;
	width: 100%;
	max-width: 200px;
}

#animal15 {
	max-width: 100px;
}

#results p {
	margin-top: 2px;
	margin-bottom: 10px;
}