/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}

html, body {
	width: 100%;
	margin: 0;
}

#main {
	text-align: center;
	width: 95%;
	margin: 0 auto;
}

#inventory {
	margin: 10px auto;
	display: inline-block;
	font-size: .7em;
}

#inventory .token {
	width: 1em;
	vertical-align: text-bottom;
}

#inventory table, #inventory td {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 5px;
}

#compInventory {
	margin-top: 5px;
}

#userName, #robotName {
	width: 50px;
	text-align: center;
}

#board {
	width: 100%;
}

#setupBoard {
	display: inline-block;
}

#cards {
	width: 25%;
	display: inline-block;
}

#cards img {
	border-radius: 20%;
	width: 100px;
}

#cardFront {
	display: block;
	margin-top: 10px;
}

#turnDiv {
	width: 70%;
	margin-left: 10px;
	display: inline-block;
}

#main2 {
	text-align: center;
	width: 95%;
	margin: 0 auto;
}

.playToken {
	width: 50px;
}


.tg {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding-right: 5px;
  padding-left: 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
  width: 9.1%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
  padding-top: 2%;
  padding-bottom: 2%;
}
.tg .tg-m0sm {
  font-size: 16px;
  background-color: #ce8de0;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-kbpn {
  font-size: 16px;
  background-color: #fd6864;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-s8c7 {
  font-size: 16px;
  background-color: #f99bf4;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-966n {
  font-size: 16px;
  background-color: #34ff34;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-ih6r {
  font-size: 16px;
  background-color: #ffc702;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-0qvf {
  font-size: 16px;
  background-color: #fffe65;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-nk3j {
  font-weight: bold;
  font-size: 16px;
  background-color: #009901;
  color: #ffffff;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-trb7 {
  font-size: 16px;
  background-color: #8bc6d7;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-g3ez {
  font-size: 16px;
  background-color: #9aff99;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-qhoq {
  font-size: 16px;
  background-color: #e28686;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-vwxq {
  font-size: 16px;
  background-color: #90c4e2;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}

.current {
  border: 3px dashed #00ff00 !important;
}

.highlight, .cardHighlight {
  border: 2px solid yellow !important;
}

.special {
	border: 2px dashed #65EFD3 !important;
}

#turnChoices {
  display: none;
}

#playDefenderRule3 {
	display: none;
}

#tokenExists {
	display: none;
}

#setBoard,
#startGame {
  font-size: 1.4rem;
}

.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 355px;
  height: 150px;
  border: 1px solid #ccc;
  box-shadow: 1px, 1px, 1px, black;
  padding: 16px;
  left: 7px;
  top: 50px;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  visibility: hidden;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(255, 0, 0, 0.25);
  visibility: hidden;
}

#back {
  background-color: #4caf50;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 150px;
}

#seeChanges, #continue {
	display: none;
}