.tg {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 350px;
}
.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 6px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
  width: 31.8px;
  height: 32px;
}
.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 7px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
  height: 32px;
}
.tg .tg-m0sm {
  font-size: 16px;
  background-color: #ce8de0;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-kbpn {
  font-size: 16px;
  background-color: #fd6864;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-s8c7 {
  font-size: 16px;
  background-color: #f99bf4;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-966n {
  font-size: 16px;
  background-color: #34ff34;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-ih6r {
  font-size: 16px;
  background-color: #ffc702;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-0qvf {
  font-size: 16px;
  background-color: #fffe65;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-nk3j {
  font-weight: bold;
  font-size: 16px;
  background-color: #009901;
  color: #ffffff;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-trb7 {
  font-size: 16px;
  background-color: #8bc6d7;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-g3ez {
  font-size: 16px;
  background-color: #9aff99;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-qhoq {
  font-size: 16px;
  background-color: #e28686;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}
.tg .tg-vwxq {
  font-size: 16px;
  background-color: #90c4e2;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}

.current {
  border: 3px dashed #00ff00 !important;
}

#pickNumber {
  display: none;
}

#turnChoices {
  display: none;
}

#tokenDisplay1,
#tokenDisplay2,
#tokenDisplay3,
#tokenDisplay4 {
  margin-top: 20px;
}

#setBoard,
#startGame {
  font-size: 1.4rem;
}

.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px, 1px, 1px, black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}
